@import './common.scss';

.map {
	position: relative;
	display: flex;
	flex-grow: 10;
	align-self: stretch;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	margin: $margin-md;
	background: $light;
	border-radius: 20px;
	border: 5px solid $grey-2;
}

.map-container {
	border-radius: 15px;
	height: 100%;
	width: 100%;
}

.map-sidebar {
	position: relative;
	background-color: $primary_rbg_opac;
	backdrop-filter: blur( 85px );
	-webkit-backdrop-filter: blur( 85px );
	color: #fff;
	padding: 6px 12px;
	font-family: monospace;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	margin: 12px;
	border-radius: 4px;
}

@media screen and (max-width: 768px) {

}
  
@media screen and (max-width: 480px) {
	.map {
		min-width: 80%;
	}
}